/* src/components/FileList.css */

.file-list-ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  max-height: 140px;
  overflow-y: auto;
  /* Adds some padding for the scrollbar if it appears */
  padding-right: 10px;
}

.file-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  margin-bottom: 0.75rem;
  font-size: 0.9rem;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #bebebe,
              -5px -5px 10px #ffffff;
}

.file-name {
  color: #5a5a5a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1rem;
}

.remove-file-button {
  /* New inset button style */
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #e0e0e0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9a9a9a;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  line-height: 1;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 3px 3px 6px #bebebe,
              inset -3px -3px 6px #ffffff;
}

.remove-file-button:hover {
  color: #e66;
  box-shadow: inset 4px 4px 8px #bebebe,
              inset -4px -4px 8px #ffffff;
}